@tailwind base;
@tailwind components;
@tailwind utilities;

// Egna SCSS-stilar under
body {
  @apply bg-gray-50 text-gray-900;
}

// h1 {
//   font-family: "Courier New", Courier, monospace;
// }
// .red-text {
//   color: red;
// }
// .black-text {
//   color: black;
// }
